{% extends "pages/base.html" %}
{% from "macros.html" import input_email, input_password, input_text, input_radios %}
{% block subtitulo %}Dados do cartão{% endblock %}
{% block conteudo %}
<div class="container">
    <div class="payment-container shadow-lg">
        <div class="text-center mb-4">
            <span class="payment-title">R$29,99 / mês</span>
        </div>
        <h5>Informe os dados do seu cartão de crédito ou débito</h5>
        <div class="card-logo mb-3" >
            <img src="/static/img/images/cartao.jpeg" width="600" height="100" alt="Cartão">
        </div>
        <div class="separator"  style="margin: 20px;" ></div>
        <form>
            {{input_text("numero_cartao", "Número do Cartão","required data-mask='cartao'", div_classes="mb-3 payment-input", placeholder='000000' )}}    
            <div class="row">
                {{ input_text("data_validade", "Data de Validade","required data-mask='mes_ano'", div_classes="col-4", placeholder='000000' )}}
                {{ input_text("cvv", "CVV","required", div_classes="col-3" , placeholder='000000' )}}
                <div class="col-md-2 d-flex align-items-end">
                    <button type="button" class="info-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="O CVV é o código de segurança que fica atrás do cartão.">
                        <i class="bi bi-question-circle"></i>
                    </button>
                </div>
            </div>
            {{ input_text("nome_cartao", "Nome no Cartão", div_classes="mb-3 payment-input" "required" )}}
            {{ input_radios(
                name="paymentMethod", 
                label="Forma de Pagamento", 
                options={
                    "credit": "Crédito",
                    "debit": "Débito"
                }, 
                value="credit", 
                div_classes="mt-3"
            ) }}

            <p class="small mt-3">
                Cartões habilitados para operações de crédito e débito podem ser utilizados de ambas as maneiras.
                Ao pressionar o botão “Ativar assinatura” abaixo, você está aceitando nossos Termos de Serviço e nossa Política de Privacidade, confirmando que é maior de 18 anos e concordando que o Workin possa renovar sua assinatura automaticamente e cobrar o valor da assinatura (atualmente R$ 29,99/mês) do seu método de pagamento até que você faça o cancelamento. Você tem a liberdade de cancelar a qualquer momento para evitar cobranças futuras. Para fazer isso, acesse o seu perfil e selecione “Encerrar assinatura”.
            </p>
            <button type="submit" class="btn btn-custom btn-block w-100">ATIVAR ASSINATURA</button>
        </form>
    </div>
</div>
<script src="/static/js/mascararCampos.js"></script>
{%  endblock %}