{% extends "pages/base.html" %}
{% block subtitulo %}Editar perfil do cliente{% endblock %}
{% block conteudo %}
<form action="/post_editar" method="post" class="col-12 col-lg-6">
    <div class="profile-container">
        <div class="profile-header">
            <img src="static/img/images/harry.jpg" alt="Karla Silva Cardoso" class="profile-pic ">
            <div class="">
                <h2 >Karla Silva Cardoso</h2>
            <div class="rating">★★★★★</div>
        </div>
            <div class="settings">
                
                <img src="static/img/images/SETA.png" alt="Settings" class="settings-icon">
            </div>
        </div>
        <div class="form-container">
            <h3>Modificar email</h3>
            <form>
                <label for="email">Novo email</label>
                <input type="email" id="email" placeholder="Seu novo email">
                <p>Você utilizará esse email para fazer login no Workin. Por favor, insira um email válido.</p>
                <h3>Modificar senha</h3>
                <label for="senha">Nova senha</label>
                <input type="password" id="senha" placeholder="Sua nova senha">
                <label for="confirmar-senha">Repita a senha</label>
                <input type="password" id="confirmar-senha" placeholder="Confirme sua nova senha">
                <p>A sua senha deve conter, pelo menos, uma letra, um número e um caracter especial.</p>
                <div class="buttons">
                    <button type="button" class="cancel-btn">Cancelar alterações</button>
                    <button type="submit" class="confirm-btn">Confirmar alterações</button>
                </div>
            </form>
        </div>
    </div>
</form>
{% endblock %}
