{% extends "pages/base.html" %}
{% block subtitulo %}Perfil do cliente{% endblock %}
{% block conteudo %}

<div class="container">
    <div class="row align-items-center">
        <div class="col-1">
            <img src="static/img/images/image (8).jpg" alt="Imagem Circular" class="imagem-circular-prfil">
            <div class="contact-info mt-2">
                <p style="margin: 0; font-size: 0.9rem;"><strong>Email:</strong> ana@gmail.com</p>
                <p style="margin: 0; font-size: 0.9rem;"><strong>Telefone:</strong> (28) 99923-8934</p>
            </div>
        </div>
        <div class="col-3">
            <div class="info-prfil">
                <div class="d-flex align-items-center"; style="margin-top: -94px;">
                    <h2 class="me-2 text-nowrap">Anna Liz</h2>
                    <div class="dropdown">
                        <button class="btn btn-light p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                            &#x22EE;
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/sair">Sair</a></li>
                          <li><a class="dropdown-item" href="/editar">Editar Perfil</a></li>
                        </ul>
                    </div>
                </div>

                <div class="rating-prfil" style="font-size: 1rem; color: gold; margin-top: -4px;">
                    <small>★★★★★</small>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>



<div class="container">
    <div class="profile-section-prfil">
        <div class="comments-section-prfil">
            <h2>Comentários:</h2>

            <div class="comment-prfil">
                <img src="static/img/images/edricp.jpg" alt="Comentador" width="50" height="50">
                <div class="comment-content-prfil">
                    <div class="name-prfil">Edrico</div>
                    <div class="categoria-prfil">Guiador de pets - Um mês atrás</div>
                    <div class="rating-prfil">★★★★★</div>
                    <div class="text-wrap-prfil">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                    <br>
                    <div>
                        <span>2 Likes</span>
                        <span>Responder</span>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        &#x22EE;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Denunciar Comentário</a></li>
                    </ul>
                </div>
            </div>

            <div class="comment2-prfil">
                <img src="static/img/images/harry.jpg" alt="Comentador" width="50" height="50">
                <div class="comment-content-prfil">
                    <div class="name-prfil">Harry Potter</div>
                    <div class="categoria-prfil">Respondeu Edrico - Um mês atrás</div>
                    <div class="text-wrap-prfil">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                    <br>
                    <div>
                        <span>1 Likes</span>
                        <span>Responder</span>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        &#x22EE;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Excluir Comentário</a></li>
                    </ul>
                </div>
            </div>

            <div class="separator-prfil" style="width: 700px; margin: 20px 0;"></div>

            <div class="comment-prfil">
                <img src="static/img/images/Dobby.jpeg" alt="Comentador" width="50" height="50">
                <div class="comment-content-prfil">
                    <div class="name-prfil">Nome Sobrenome</div>
                    <div class="categoriav">Jardineiro - Dois meses atrás</div>
                    <div class="rating-prfil">★★★★★</div>
                    <div class="text-wrap-prfil">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                    <br>
                    <div>
                        <span>11 Likes</span>
                        <span>Responder</span>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        &#x22EE;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Denunciar Comentário</a></li>
                    </ul>
                </div>
            </div>

            <div class="separator-prfil" style="width: 700px; margin: 20px 0;"></div>

            <div class="comment-prfil">
                <img src="static/img/images/draco.jpg" alt="Comentador" width="50" height="50">
                <div class="comment-content-prfil">
                    <div class="name-prfil">Nome Sobrenome</div>
                    <div class="categoria-prfil">Baba - Um ano atrás</div>
                    <div class="rating-prfil">★★☆☆☆</div>
                    <div class="text-wrap-prfil">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                    <br>
                    <div>
                        <span>9 Likes</span>
                        <span>Responder</span>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        &#x22EE;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Denunciar Comentário</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="ad-section-prfil">
        <img src="static/img/images/propaganda.PNG" alt="Propaganda">
    </div>
</div>


{% endblock %}