<footer class="bg-custom text-white mt-auto border-top border-1 border-secondary-subtle">
    <div class="container">
        <div class="p-2">
            <div class="row row-cols-3 align-items-stretch">
                <div class="col">
                    <p class="text-center text-yellow m-0 p-0 fw-bold">Siga o Workin</p>
                    <nav class="d-flex justify-content-center gap-3 text-center">
                        <a href="/" class="nav-link text-nav">
                            <i class="bi bi-facebook fs-3"></i>
                        </a>
                        <a href="/" class="nav-link text-nav">
                            <i class="bi bi-instagram fs-3"></i>
                        </a>
                        <a href="/" class="nav-link text-nav">
                            <i class="bi bi-twitter fs-3"></i>
                        </a>
                    </nav>
                </div>
                <div class="col">
                    <p class="text-center text-yellow m-0 p-0 fw-bold">Entre em Contato</p>
                    <nav class="d-flex flex-column justify-content-center gap-0 text-center">
                        <a href="mailto:workin@gmail.com" class="nav-link text-nav">workin@gmail.com</a>
                        <a href="tel:+552840020922" class="nav-link text-nav">(28) 4002-0922</a>
                    </nav>
                </div>
                <div class="col">
                    <p class="text-center text-yellow m-0 p-0 fw-bold">Sobre</p>
                    <nav class="d-flex flex-column justify-content-center gap-0 text-center">
                        <a href="/" class="nav-link text-nav">Como Funciona</a>
                        <a href="/" class="nav-link text-nav">Termos e Condições</a>
                        <a href="/" class="nav-link text-nav">Política de Privacidade</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-footer-bottom p-2">
        <div class="container">
            <div class="d-flex">
                <img src="/static/img/logo_workin.svg" alt="Logo" width="40px" class="me-2">
                <p class="text-white p-0 m-0 small">
                    © Copyright 2024 – Workin CNPJ: 19.555.260/0001-01 Todos os direitos reservados<br>
                    Av. Antônio Almeida Filho - Itaparica, Vila Velha - ES, 29102-280
                </p>
            </div>
        </div>
    </div>
</footer>