<nav class="navbar navbar-expand text-black bg-custom py-3 px-1">
    <div class="container-fluid">
        <div class="row flex-fill">
            <div class="col-12">
                <div class="flex-fill d-flex justify-content-between align-items-center">
                    <div class="text-start">
                        <a href="/" class="d-flex align-items-center">
                            <img src="/static/img/logo_workin.svg" alt="logotipo" height="56px" class="me-2">
                            <img src="/static/img/nome_workin.svg" alt="logotipo" height="30px">
                        </a>
                    </div>
                    <nav class="nav justify-content-start fs-5 align-items-center">
                        <a class="nav-link text-nav" href="/">Contate um Profissional</a>
                        <a class="nav-link text-nav" href="/">Seja um Profissional</a>
                        <a class="nav-link text-nav" href="/">Suporte</a>
                        <a class="nav-link text-nav fs-3" href="/">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </nav>
                </div>
                <hr class="text-yellow opacity-100" style="border-width: 3px;">
                <div class="flex-fill d-flex justify-content-between align-items-center">
                    <form action="/cadastrarnews" method="post" class="ms-auto">
                        <div class="text-end">
                            <div class="input-group">
                                <input type="email"
                                    class="form-control rounded-start-5 border-custom border-3 border-end-0"
                                    style="width: 200px" placeholder="Digite o termo da busca aqui" id="busca" />
                                <button class="btn btn-custom rounded-end-5 border-custom border-3 border-start-0"
                                    type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>