<nav class="navbar navbar-expand-lg navbar-light bg-custom py-3 px-1">
    <div class="container-fluid">
        <!-- Logo e Nome -->
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="/static/img/logo_workin.svg" alt="logotipo" height="56px" class="me-2">
            <img src="/static/img/nome_workin.svg" alt="logotipo" height="30px">
        </a>

        <!-- Botão para expandir o menu no mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-nav fs-5" href="/contate-profissional">Contate um Profissional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nav fs-5" href="/seja-profissional">Seja um Profissional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nav fs-5" href="/suporte">Suporte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nav fs-3" href="/">
                        <i class="bi bi-person-circle"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Barra de busca -->
        <form action="/cadastrarnews" method="post" class="d-flex ms-auto">
            <div class="input-group">
                <input type="email" class="form-control rounded-start-5 border-custom border-3 border-end-0" style="width: 200px; height: 100%; height: 100%;" placeholder="Digite o termo da busca aqui" id="busca" />
                <button class="btn btn-custom rounded-end-5 border-custom border-3 border-start-0" type="submit" style="height:  36px; margin-top:auto">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
</nav>

