{% extends "pages/base.html" %}
{% block subtitulo %}Página de suporte do aministrador{% endblock %}
{% block conteudo %}


<div class="comment-box">
        <img src="static/img/images/image (6).png" alt="User Profile" class="profile-pic">
        <div class="comment-content">
            <div class="user-info">
                <span class="username">Alana Padilha</span>
                <span class="comment-date">18/05/2024</span>
            </div>
            <p class="comment-text">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae...</p>

            <!-- Caixa de Resposta -->
            <div class="response-box">
                <textarea placeholder="Escreva sua resposta aqui..."></textarea>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>

    <hr class="comment-divider">

    <div class="comment-box">
        <img src="static/img/images/image (8).png" alt="User Profile" class="profile-pic">
        <div class="comment-content">
            <div class="user-info">
                <span class="username">Maria José</span>
                <span class="comment-date">18/05/2024</span>
            </div>
            <p class="comment-text">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae...</p>
            <a href="#" class="reply-link">Responder</a>

            <!-- Caixa de Resposta -->
            <div class="response-box">
                <textarea placeholder="Escreva sua resposta aqui..."></textarea>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>

    <hr class="comment-divider">

    <div class="comment-box">
        <img src="static/img/images/image (9).png" alt="User Profile" class="profile-pic">
        <div class="comment-content">
            <div class="user-info">
                <span class="username">Maria Andrade</span>
                <span class="comment-date">18/05/2024</span>
            </div>
            <p class="comment-text">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae...</p>
            <a href="#" class="reply-link">Responder</a>

            <!-- Caixa de Resposta -->
            <div class="response-box">
                <textarea placeholder="Escreva sua resposta aqui..."></textarea>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>

    <hr class="comment-divider">

    <div class="comment-box">
        <img src="static/img/images/image (10).png" alt="User Profile" class="profile-pic">
        <div class="comment-content">
            <div class="user-info">
                <span class="username">Denize Paixão</span>
                <span class="comment-date">18/05/2024</span>
            </div>
            <p class="comment-text">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae...</p>
            <a href="#" class="reply-link">Responder</a>

            <!-- Caixa de Resposta -->
            <div class="response-box">
                <textarea placeholder="Escreva sua resposta aqui..."></textarea>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>

    <hr class="comment-divider">

    <div class="comment-box">
        <img src="static/img/images/download (1).jpg" alt="User Profile" class="profile-pic">
        <div class="comment-content">
            <div class="user-info">
                <span class="username">Andrade Paixão</span>
                <span class="comment-date">18/05/2024</span>
            </div>
            <p class="comment-text">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae...</p>
            <a href="#" class="reply-link">Responder</a>

            <!-- Caixa de Resposta -->
            <div class="response-box">
                <textarea placeholder="Escreva sua resposta aqui..."></textarea>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>

    <hr class="comment-divider">

    <div class="comment-box">
        <img src="static/img/images/download (2).jpg" alt="User Profile" class="profile-pic">
        <div class="comment-content">
            <div class="user-info">
                <span class="username">Ambrósio Corrêa</span>
                <span class="comment-date">18/05/2024</span>
            </div>
            <p class="comment-text">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae...</p>
            <a href="#" class="reply-link">Responder</a>

            <!-- Caixa de Resposta -->
            <div class="response-box">
                <textarea placeholder="Escreva sua resposta aqui..."></textarea>
                <button type="submit">Enviar</button>
            </div>
        </div>
    </div>

    <hr class="comment-divider">

    <div class="comment-box">
        <img src="static/img/images/download (3).jpg" alt="User Profile" class="profile-pic">
        <div class="comment-content">
            <div class="user-info">
                <span class="username">Fernado Andrade</span>
                <span class="comment-date">18/05/2024</span>
            </div>
            <p class="comment-text">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae...</p>
            <a href="#" class="reply-link">Responder</a>

            <!-- Caixa de Resposta -->
            <div class="response-box">
                <textarea placeholder="Escreva sua resposta aqui..."></textarea>
                <button type="submit">Enviar</button>
            </div>
        </div>
</div>



{% endblock %}

