{% extends "pages/base.html" %}
{% block subtitulo %}Barra de Pesquisa{% endblock %}
{% block conteudo %}


<div class="comment-section">
    <div class="comment">
        <div class="user-info">
            <div class="image-container">
                <img src="static/img/images/perfil.png" alt="User Image" class="profile-img">
                <img src="static/img/images/icone.png" alt="Ícone" class="icon-img">
            </div>
            
            <div>
                <p class="user-name">Rafaela Sandrini</p>
                <div class="stars">★★★★★</div>
            </div>
        </div>
        <div class="comment-images">
            <img src="static/img/images/trabalho.jpg" alt="Comment Image 1">
            <img src="static/img/images/trabalho.jpg" alt="Comment Image 2">
            <img src="static/img/images/trabalho.jpg" alt="Comment Image 2">
        </div>
    </div>
    
    <div class="separator "></div><br>

    <div class="comment">
        <div class="user-info">
            <br>
            
            <div class="image-container">
                <img src="static/img/images/perfil2.png" alt="User Image" class="profile-img">
                <img src="static/img/images/icone.png" alt="Ícone" class="icon-img">
            </div>
            
            <div>
                <p class="user-name">Manuela Carvalho</p>
                <div class="stars">★★★★☆</div>
            </div>
        </div>
        <div class="comment-images">
            <img src="static/img/images/trabalho.jpg" alt="Comment Image 3">
            <img src="static/img/images/trabalho.jpg" alt="Comment Image 4">
        </div>
    </div>

    
    <div class="separator "></div><br>

    <div class="comment">
        <div class="user-info">
            <br>
            <img src="static/img/images/image (2).png" alt="User Image" class="profile-img">
            <div>
                <p class="user-name">Bruno Pereira</p>
                <div class="stars">★★★★☆</div>
            </div>
        </div>
    </div>

    
    <div class="separator "></div><br>

    <div class="comment">
        <div class="user-info">
            <br>
            <img src="static/img/images/image (3).png" alt="User Image" class="profile-img">
            <div>
                <p class="user-name">Pedro Martins</p>
                <div class="stars">★★★★☆</div>
            </div>
        </div>
    </div>


    <div class="separator "></div><br>

    <div class="comment">
        <div class="user-info">
            <br>
            <img src="static/img/images/image (4).png" alt="User Image" class="profile-img">
            <div>
                <p class="user-name">Gabriela Silva</p>
                <div class="stars">★★★★☆</div>
            </div>
        </div>
    </div>

    <div class="separator "></div><br>

    <div class="comment">
        <div class="user-info">
            <br>
            <img src="static/img/images/image (6).png" alt="User Image" class="profile-img">
            <div>
                <p class="user-name">João Castro</p>
                <div class="stars">★★★★☆</div>
            </div>
        </div>
    </div>

{% endblock %}