{% extends "pages/base.html" %}
{% from "macros.html" import input_email, input_password, input_text %}
{% block subtitulo %}Cadastro do Cliente{% endblock %}
{% block conteudo %}
<div class="payment-container ">
    <div class="row justify-content-center">
        <div class="col-md">
            <form action="/post_cadastro_cliente" method="post">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Seja um cliente Workin!</h3>
                        {{ input_text("nome", "Nome Completo","required data-mask='nome' placeholder='Digite seu nome...'" )}}
                        {{ input_email("email", "E-mail", "required placeholder='ex.: workin@gmail.com' data-mask='email''") }}
                        {{ input_text("telefone", "Telefone", "required placeholder='(00) 00000-0000' data-mask='telefone'")}}
                        {{ input_password("senha", "Senha", "required")}}
                        {{ input_password("confirma_senha", "Confirmar Senha", "required")}}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block m-3 botao-login">Cadastrar</button>
                        </div>
                        <div class="text-center">
                            <a href="/redefinir_senha" class="d-block m-2">Esqueci a senha</a>
                            <a href="/login" class="d-block m-2">Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/mascararCampos.js"></script>
{% endblock %}