{% extends "pages/base.html" %}
{% block subtitulo %}Cadastro prestador{% endblock %}
{% block conteudo %}

<div class="comment-container">
    <div class="comment-header">
        <img src="static/img/images/cliente.png" alt="Karla Silva Cardoso" class="profile-pic">
        <div>
            <h5>Karla Silva Cardoso</h5>
            <div class="stars">★★★★★</div>
        </div>
    </div>

    <textarea class="comment-box" placeholder="Compartilhe sua experiência ..."></textarea>
    <p class="form-text">O seu comentário será publicado de forma aberta no Workin.</p>

    <div class="buttons">
        <button class="cancel-btn">Cancelar</button>
        <button class="publish-btn">Publicar</button>
    </div>
</div>

{% endblock %}