{% extends "shared/pages/base.html" %}
{% block subtitulo %}Página Principal{% endblock %}
{% block conteudo %}
{% set usuario = request.state.usuario %}
<div class="row justify-content-center">
    <div class="row">
        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="encanador">
            <a href="/" class="text-center d-flex flex-column align-items-center">
                <img class="img-fluid w-50" src="static/img/logo/logopasseador.png"
                    alt="Imagem acima do Passeador de Pets">
                <p>Pets</p>
            </a>
        </div>

        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="baba">
            <a href="/residencia" class="text-center d-flex flex-column align-items-center">
                <img class="img-fluid w-50" src="static/img/logo/logoresidual.png"
                    alt="Imagem acima do Serviços Residuais">
                <p>Serviços Residenciais</p>
            </a>
        </div>

        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="pintor">
            <a href="/limpeza" class="text-center d-flex flex-column align-items-center">
                <img class="img-fluid w-50" src="static/img/logo/logolimpeza.png" alt="Imagem acima de Limpeza">
                <p>Limpeza</p>
            </a>
        </div>

        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="eletricista">
            <a href="/cuidados" class="text-center d-flex flex-column align-items-center">
                <img class="img-fluid w-50" src="static/img/logo/logocuidador.png" alt="Imagem acima do Cuidador">
                <p>Cuidados</p>
            </a>
        </div>

        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="jardineiro">
            <a href="/jardim" class="text-center d-flex flex-column align-items-center">
                <img class="img-fluid w-50" src="static/img/logo/logojardinagem.png" alt="Imagem acima do Cuidador">
                <p>Jardim</p>
            </a>
        </div>

        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="faxineiro">
            <a href="/beleza" class="text-center d-flex flex-column align-items-center">
                <img class="img-fluid w-50" src="static/img/logo/logobeleza.png" alt="Imagem acima da Beleza">
                <p>Beleza</p>
            </a>
        </div>

        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="motorista">
            <a href="/informatica" class="text-center d-flex flex-column align-items-center">
                <img class="img-fluid w-50" src="static/img/logo/logoinformatica.png" alt="Imagem acima de Informática">
                <p>Informática</p>
            </a>
        </div>
    </div>
    <br><br>

    <div class="photo-grid my-3">
        {% for p in prestadores: %}
        <a href="/perfil_prestador/{{p.id}}">
            <div class="photo-item">
                <img src="static/img/images/{{p.id}}.jpg" alt="{{p.nome}}">
                <p>{{p.nome}}<br>{{p.email}} <br>{{p.telefone}}</p>
                <div class="card-footer">
                    <a href="/usuario/{{p.id}}" class="btn btn-primary">Ver Detalhes</a>
                </div>
            </div>
        </a>
        {% endfor %}        
    </div>

    <div class="button-container">
        <div class="button button1"><img src="static/img/demandalogo.png" alt="Botão 1"></div>
        <div class="button1-rectangle">Conteúdo do botão 1</div>
        <div class="button button2"><img src="static/img/fotoslogo.png" alt="Botão 2"></div>
        <div class="button2-rectangle">Conteúdo do botão 2</div>
        <div class="button button3"><img src="static/img/chatlogo.png" alt="Botão 3"></div>
        <div class="button3-rectangle">Conteúdo do botão 3</div>
    </div>
</div>
{% endblock %}