{% extends "pages/base.html" %}
{% block subtitulo %}Página Principal{% endblock %}
{% block conteudo %}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald&display=swap">
    <link rel="shortcut icon" type="imagex/png" href="./logo/workin.ico">
</head>
<body>
    <div class="row justify-content-center">
        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="encanador">
            <img  class="img-fluid w-50" src="static/img/logo/logopasseador.png" alt="Imagem acima do Passeador de Pets"> 
            <p class="text-center">Passeador de Pets</p>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="baba">
            <img  class="img-fluid w-50" src="static/img/logo/logoresidual.png" alt="Imagem acima do Serviços Residuais">            
            <p class="text-center">Serviços Residenciais</p>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="pintor">
            <img  class="img-fluid w-50" src="static/img/logo/logolimpeza.png" alt="Imagem acima de Limpeza">            
            <p class="text-center">Limpeza</p>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="eletricista">
            <img  class="img-fluid w-50" src="static/img/logo/logocuidador.png" alt="Imagem acima do Cuidador">            
            <p class="text-center">Cuidador</p>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="jardineiro">
            <img  class="img-fluid w-50" src="static/img/logo/logojardinagem.png" alt="Imagem acima do Cuidador">            
            <p class="text-center">Jardineiro</p>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="faxineiro">
            <img  class="img-fluid w-50" src="static/img/logo/logobeleza.png" alt="Imagem acima da Beleza">            
            <p class="text-center">Beleza</p>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center" data-category="motorista">
            <img  class="img-fluid w-50" src="static/img/logo/logoinformatica.png" alt="Imagem acima de Informática">            
            <p class="text-center">Informática</p>
        </div>
    </div>
    <br>
    <br>

    <div class="photo-grid">
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador1.jpg" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador2.jpg" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador3.jpg" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador4.jpg" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador5.jpg" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador6.jpg" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador7.webp" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador8.webp" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador9.jpg" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador10.webp" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador11.jpg" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
        <a href="/perfil_prestador">
            <div class="photo-item">
                <img src="static/img/images/passeador12.jpg" alt="Nome do Passeador">
                <p>Nome do Passeador<br>Especialidade - Cidade</p>
            </div>
        </a>
    </div>
    

    
    
    <div class="button-container">
        <div class="button button1"><img src="static/img/demandalogo.png" alt="Botão 1"></div>
        <div class="button1-rectangle">Conteúdo do botão 1</div>
        <div class="button button2"><img src="static/img/fotoslogo.png" alt="Botão 2"></div>
        <div class="button2-rectangle">Conteúdo do botão 2</div>
        <div class="button button3"><img src="static/img/chatlogo.png" alt="Botão 3"></div>
        <div class="button3-rectangle">Conteúdo do botão 3</div>
    </div>



    
</body>
</html>


{% endblock %}