{% extends "pages/base.html" %}
{% from "macros.html" import input_email, input_password %}
{% block subtitulo %}Login{% endblock %}
{% block conteudo %}

<div class="payment-container">
    <div class="row justify-content-center">
        <div class="col-md">
            {% include "shared/includes/mensagem.html" %}
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-left m-3">Fazer login</h3>
                    <form method="post" action="/post_login">                      
                        {{ input_email("email", "E-mail", "required")}}                                         
                        {{ input_password("senha", "Senha", "required")}}
                        <div class="text-center">
                            <button type="submit" class="btn m-4 botao-login">Entrar</button>
                            <a class="d-block m-2"></a>
                        </div>
                        <div class="text-center">
                            <a href="/redefinir_senha" class="d-block m-2">Esqueci a senha</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
