{% extends "pages/base.html" %}
{% block subtitulo %}Login{% endblock %}
{% block conteudo %}

<div class="container">
    <div class="row m-5 justify-content-center ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-left m-3">Fazer login</h3>
                    <form>
                      
                        <div class="form-group m-2">
                            <label for="email">E-mail</label>
                            <input  class="form-control" >
                        </div>
                                         
                        <div class="form-group m-2">
                            <label for="senha">Senha</label>
                            <input  class="form-control" >
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn  m-4 botao-login" >Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}