{% extends "pages/base.html" %}
{% block subtitulo %}Perfil do prestador{% endblock %}
{% block conteudo %}

<div class="container">
    <div class="row">
        <div class="col-1">
            <img src="static/img/images/harry.jpg" alt="Imagem Circular" class="imagem-circular-prfil">
        </div>
        <div class="col-2">
            <div class="info-prfil">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Harry Potter
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Sair</a></li>
                      <li><a class="dropdown-item" href="#">Cancelar Assinatura</a></li>
                      <li><a class="dropdown-item" href="#">Editar Perfil</a></li>
                    </ul>
                  </div>
                <p class="subtitle-prfil">Passeador de pets</p>
                <div class="rating-prfil">
                    ★★★★★
                </div>
            </div>
        </div>
        <br>
        <div class="col">
            <div class="contact-prfil">
                <p><strong>E-mail:</strong> rafaelasandrini@gmail.com</p>
                <p><strong>Descrição:</strong> Amo animais. Passeio, corro, faço exercícios <a href="#">LER MAIS...</a></p>
                <p><strong>Whatsapp:</strong> (28) 999909-9090</p>
                <p><strong>Cidade:</strong> Cachoeiro de Itapemirim - Paraíso</p>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="profile-section-prfil">
        <div class="comments-section-prfil">
            <h2>Meus Trabalhos:</h2>

            <div class="Imagens-meus-trabalhos-prfil">
                <img src="static/img/images/trabalhos.jpg" alt="Trabalho1" width="50" height="50">
                <img src="static/img/images/trabalhos.jpg" alt="Trabalho1" width="50" height="50">
                <img src="static/img/images/trabalhos.jpg" alt="Trabalho1" width="50" height="50">
                <img src="static/img/images/trabalhos.jpg" alt="Trabalho1" width="50" height="50">
                <img src="static/img/images/trabalhos.jpg" alt="Trabalho1" width="50" height="50">
                <img src="static/img/images/trabalhos.jpg" alt="Trabalho1" width="50" height="50">
            </div>

            <h2>Comentários:</h2>

            <div class="comment-prfil">
                <img src="static/img/images/edricp.jpg" alt="Comentador" width="50" height="50">
                <div class="comment-content-prfil">
                    <div class="name-prfil">Edrico</div>
                    <div class="categoria-prfil">Guiador de pets - Um mês atrás</div>
                    <div class="rating-prfil">★★★★★</div>
                    <div class="text-wrap-prfil">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                    <br>
                    <div>
                        <span>2 Likes</span>
                        <span>Responder</span>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        &#x22EE;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Denunciar Comentário</a></li>
                    </ul>
                </div>
            </div>

            <div class="comment2-prfil">
                <img src="static/img/images/harry.jpg" alt="Comentador" width="50" height="50">
                <div class="comment-content-prfil">
                    <div class="name-prfil">Harry James Potter</div>
                    <div class="categoria-prfil">Respondeu Edrico - Um mês atrás</div>
                    <div class="text-wrap-prfil">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                    <br>
                    <div>
                        <span>1 Likes</span>
                        <span>Responder</span>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        &#x22EE;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Excluir Comentário</a></li>
                    </ul>
                </div>
            </div>

            <div class="separator-prfil" style="width: 700px; margin: 20px 0;"></div>

            <div class="comment-prfil">
                <img src="static/img/images/Dobby.jpeg" alt="Comentador" width="50" height="50">
                <div class="comment-content-prfil">
                    <div class="name-prfil">Robbie Coltrane</div>
                    <div class="categoria-prfil">Jardineiro - Dois meses atrás</div>
                    <div class="rating-prfil">★★★★★</div>
                    <div class="text-wrap-prfil">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                    <br>
                    <div>
                        <span>11 Likes</span>
                        <span>Responder</span>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        &#x22EE;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Denunciar Comentário</a></li>
                    </ul>
                </div>
            </div>

            <div class="separator-prfil" style="width: 700px; margin: 20px 0;"></div>

            <div class="comment-prfil">
                <img src="static/img/images/draco.jpg" alt="Comentador" width="50" height="50">
                <div class="comment-content-prfil">
                    <div class="name-prfil">Draco Malfor</div>
                    <div class="categoria-prfil">Baba - Um ano atrás</div>
                    <div class="rating-prfil">★★☆☆☆</div>
                    <div class="text-wrap-prfil">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                    <br>
                    <div>
                        <span>9 Likes</span>
                        <span>Responder</span>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        &#x22EE;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Denunciar Comentário</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>



<div class="dentro-prfil">
    <div class="fundo_calendario-prfil">
        <div class="calendario-prfil">
            <br>
            <div class="nome-mês-prfil">Agosto</div>
            <div class="calendario-separador-prfil"></div>
            <div class="calendar-prfil">
                <div class="day-name-prfil">Seg</div>
                <div class="day-name-prfil">Ter</div>
                <div class="day-name-prfil">Qua</div>
                <div class="day-name-prfil">Qui</div>
                <div class="day-name-prfil">Sex</div>
                <div class="day-name-prfil">Sab</div>
                <div class="day-name-prfil">Dom</div>

                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>

                <div class="day-prfil">1</div>
                <div class="day-prfil">2</div>
                <div class="day-prfil">3</div>
                <div class="day-prfil">4</div>
                <div class="day-prfil">5</div>
                <div class="day-prfil">6</div>
                <div class="day-prfil">7</div>
                <div class="day-prfil">8</div>
                <div class="day-prfil">9</div>
                <div class="day-prfil">10</div>
                <div class="day-prfil">11</div>
                <div class="day-prfil">12</div>
                <div class="day-prfil">13</div>
                <div class="day-prfil">14</div>
                <div class="day-prfil">15</div>
                <div class="day-prfil">16</div>
                <div class="day-prfil">17</div>
                <div class="day-prfil">18</div>
                <div class="day-prfil">19</div>
                <div class="day-prfil">20</div>
                <div class="day-prfil">21</div>
                <div class="day-prfil">22</div>
                <div class="day-prfil">23</div>
                <div class="day-prfil">24</div>
                <div class="day-prfil">25</div>
                <div class="day-prfil">26</div>
                <div class="day-prfil">27</div>
                <div class="day-prfil">28</div>
                <div class="day-prfil">29</div>
                <div class="day-prfil">30</div>
                <div class="day-prfil">31</div>
            </div>
        </div>
        <div class="calendario-prfil">
            <br>
            <div class="nome-mês-prfil">Setembro</div>
            <div class="calendario-separador-prfil"></div>
            <div class="calendar-prfil">
                <div class="day-name-prfil">Seg</div>
                <div class="day-name-prfil">Ter</div>
                <div class="day-name-prfil">Qua</div>
                <div class="day-name-prfil">Qui</div>
                <div class="day-name-prfil">Sex</div>
                <div class="day-name-prfil">Sab</div>
                <div class="day-name-prfil">Dom</div>

                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>

                <div class="day-prfil">1</div>
                <div class="day-prfil">2</div>
                <div class="day-prfil">3</div>
                <div class="day-prfil">4</div>
                <div class="day-prfil">5</div>
                <div class="day-prfil">6</div>
                <div class="day-prfil">7</div>
                <div class="day-prfil">8</div>
                <div class="day-prfil">9</div>
                <div class="day-prfil">10</div>
                <div class="day-prfil">11</div>
                <div class="day-prfil">12</div>
                <div class="day-prfil">13</div>
                <div class="day-prfil">14</div>
                <div class="day-prfil">15</div>
                <div class="day-prfil">16</div>
                <div class="day-prfil">17</div>
                <div class="day-prfil">18</div>
                <div class="day-prfil">19</div>
                <div class="day-prfil">20</div>
                <div class="day-prfil">21</div>
                <div class="day-prfil">22</div>
                <div class="day-prfil">23</div>
                <div class="day-prfil">24</div>
                <div class="day-prfil">25</div>
                <div class="day-prfil">26</div>
                <div class="day-prfil">27</div>
                <div class="day-prfil">28</div>
                <div class="day-prfil">29</div>
                <div class="day-prfil">30</div>
            </div>
        </div>
        <div class="calendario-prfil">
            <br>
            <div class="nome-mês-prfil">Outubro</div>
            <div class="calendario-separador-prfil"></div>
            <div class="calendar-prfil">
                <div class="day-name-prfil">Seg</div>
                <div class="day-name-prfil">Ter</div>
                <div class="day-name-prfil">Qua</div>
                <div class="day-name-prfil">Qui</div>
                <div class="day-name-prfil">Sex</div>
                <div class="day-name-prfil">Sab</div>
                <div class="day-name-prfil">Dom</div>

                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>

                <div class="day-prfil">1</div>
                <div class="day-prfil">2</div>
                <div class="day-prfil">3</div>
                <div class="day-prfil">4</div>
                <div class="day-prfil">5</div>
                <div class="day-prfil">6</div>
                <div class="day-prfil">7</div>
                <div class="day-prfil">8</div>
                <div class="day-prfil">9</div>
                <div class="day-prfil">10</div>
                <div class="day-prfil">11</div>
                <div class="day-prfil">12</div>
                <div class="day-prfil">13</div>
                <div class="day-prfil">14</div>
                <div class="day-prfil">15</div>
                <div class="day-prfil">16</div>
                <div class="day-prfil">17</div>
                <div class="day-prfil">18</div>
                <div class="day-prfil">19</div>
                <div class="day-prfil">20</div>
                <div class="day-prfil">21</div>
                <div class="day-prfil">22</div>
                <div class="day-prfil">23</div>
                <div class="day-prfil">24</div>
                <div class="day-prfil">25</div>
                <div class="day-prfil">26</div>
                <div class="day-prfil">27</div>
                <div class="day-prfil">28</div>
                <div class="day-prfil">29</div>
                <div class="day-prfil">30</div>
                <div class="day-prfil">31</div>
            </div>
        </div>
        <div class="calendario-prfil">
            <br>
            <div class="nome-mês-prfil">Novembro</div>
            <div class="calendario-separador-prfil"></div>
            <div class="calendar-prfil">
                <div class="day-name-prfil">Seg</div>
                <div class="day-name-prfil">Ter</div>
                <div class="day-name-prfil">Qua</div>
                <div class="day-name-prfil">Qui</div>
                <div class="day-name-prfil">Sex</div>
                <div class="day-name-prfil">Sab</div>
                <div class="day-name-prfil">Dom</div>

                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>

                <div class="day-prfil">1</div>
                <div class="day-prfil">2</div>
                <div class="day-prfil">3</div>
                <div class="day-prfil">4</div>
                <div class="day-prfil">5</div>
                <div class="day-prfil">6</div>
                <div class="day-prfil">7</div>
                <div class="day-prfil">8</div>
                <div class="day-prfil">9</div>
                <div class="day-prfil">10</div>
                <div class="day-prfil">11</div>
                <div class="day-prfil">12</div>
                <div class="day-prfil">13</div>
                <div class="day-prfil">14</div>
                <div class="day-prfil">15</div>
                <div class="day-prfil">16</div>
                <div class="day-prfil">17</div>
                <div class="day-prfil">18</div>
                <div class="day-prfil">19</div>
                <div class="day-prfil">20</div>
                <div class="day-prfil">21</div>
                <div class="day-prfil">22</div>
                <div class="day-prfil">23</div>
                <div class="day-prfil">24</div>
                <div class="day-prfil">25</div>
                <div class="day-prfil">26</div>
                <div class="day-prfil">27</div>
                <div class="day-prfil">28</div>
                <div class="day-prfil">29</div>
                <div class="day-prfil">30</div>
            </div>
        </div>
        <div class="calendario-prfil">
            <br>
            <div class="nome-mês-prfil">Dezembro</div>
            <div class="calendario-separador-prfil"></div>
            <div class="calendar-prfil">
                <div class="day-name-prfil">Seg</div>
                <div class="day-name-prfil">Ter</div>
                <div class="day-name-prfil">Qua</div>
                <div class="day-name-prfil">Qui</div>
                <div class="day-name-prfil">Sex</div>
                <div class="day-name-prfil">Sab</div>
                <div class="day-name-prfil">Dom</div>

                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>

                <div class="day-prfil">1</div>
                <div class="day-prfil">2</div>
                <div class="day-prfil">3</div>
                <div class="day-prfil">4</div>
                <div class="day-prfil">5</div>
                <div class="day-prfil">6</div>
                <div class="day-prfil">7</div>
                <div class="day-prfil">8</div>
                <div class="day-prfil">9</div>
                <div class="day-prfil">10</div>
                <div class="day-prfil">11</div>
                <div class="day-prfil">12</div>
                <div class="day-prfil">13</div>
                <div class="day-prfil">14</div>
                <div class="day-prfil">15</div>
                <div class="day-prfil">16</div>
                <div class="day-prfil">17</div>
                <div class="day-prfil">18</div>
                <div class="day-prfil">19</div>
                <div class="day-prfil">20</div>
                <div class="day-prfil">21</div>
                <div class="day-prfil">22</div>
                <div class="day-prfil">23</div>
                <div class="day-prfil">24</div>
                <div class="day-prfil">25</div>
                <div class="day-prfil">26</div>
                <div class="day-prfil">27</div>
                <div class="day-prfil">28</div>
                <div class="day-prfil">29</div>
                <div class="day-prfil">30</div>
                <div class="day-prfil">31</div>
            </div>
        </div>
        <div class="calendario-prfil">
            <br>
            <div class="nome-mês-prfil">Outubro</div>
            <div class="calendario-separador-prfil"></div>
            <div class="calendar-prfil">
                <div class="day-name-prfil">Seg</div>
                <div class="day-name-prfil">Ter</div>
                <div class="day-name-prfil">Qua</div>
                <div class="day-name-prfil">Qui</div>
                <div class="day-name-prfil">Sex</div>
                <div class="day-name-prfil">Sab</div>
                <div class="day-name-prfil">Dom</div>

                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>
                <div class="day-prfil"></div>

                <div class="day-prfil">1</div>
                <div class="day-prfil">2</div>
                <div class="day-prfil">3</div>
                <div class="day-prfil">4</div>
                <div class="day-prfil">5</div>
                <div class="day-prfil">6</div>
                <div class="day-prfil">7</div>
                <div class="day-prfil">8</div>
                <div class="day-prfil">9</div>
                <div class="day-prfil">10</div>
                <div class="day-prfil">11</div>
                <div class="day-prfil">12</div>
                <div class="day-prfil">13</div>
                <div class="day-prfil">14</div>
                <div class="day-prfil">15</div>
                <div class="day-prfil">16</div>
                <div class="day-prfil">17</div>
                <div class="day-prfil">18</div>
                <div class="day-prfil">19</div>
                <div class="day-prfil">20</div>
                <div class="day-prfil">21</div>
                <div class="day-prfil">22</div>
                <div class="day-prfil">23</div>
                <div class="day-prfil">24</div>
                <div class="day-prfil">25</div>
                <div class="day-prfil">26</div>
                <div class="day-prfil">27</div>
                <div class="day-prfil">28</div>
                <div class="day-prfil">29</div>
                <div class="day-prfil">30</div>
                <div class="day-prfil">31</div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}