{% extends "pages/base.html" %}
{% block subtitulo %}Perfil_cliente{% endblock %}
{% block conteudo %}

<div class="container">

    <div class="card-body">
        <div class="profile-header">
            <img src="static/img/images/harry.jpg" alt="Karla Silva Cardoso" class="profile-picture" width="100" height="100">
            <div>
                <h1>Karla Silva Cardoso
                    <img src="static/img/logo/engrenagem.png" alt="Icon" class="icon">
                </h1>
                <div class="stars">★★★★☆</div>
            </div>
        </div>
        <div class="separator"></div>
    
        <div class="container">
            <div class="profile-section">
                <div class="comments-section">
                    <h2>Comentários:</h2><br>
    
                    <div class="comment">
                        <img src="static/img/images/edricp.jpg" alt="Comentador" width="50" height="50">
                        <div class="comment-content">
                            <div class="name">Edrico</div>
                            <div class="categoria">Guiador de pets - Um mês atrás</div>
                            <div class="rating">★★★★★</div>
                            <div class="text-wrap">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                            <br>
                            <div>
                                <span>2 Likes</span>
                                <span>Responder</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="comment2">
                        <img src="static/img/images/harry.jpg" alt="Comentador" width="50" height="50">
                        <div class="comment-content">
                            <div class="name">Harry Potter</div>
                            <div class="categoria">Respondeu Edrico - Um mês atrás</div>
                            <div class="text-wrap">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                            <br>
                            <div>
                                <span>1 Likes</span>
                                <span>Responder</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="separator" style="width: 700px; margin: 20px 0;"></div>
    
                    <div class="comment">
                        <img src="static/img/images/Dobby.jpeg" alt="Comentador" width="50" height="50">
                        <div class="comment-content">
                            <div class="name">Nome Sobrenome</div>
                            <div class="categoria">Jardineiro - Dois meses atrás</div>
                            <div class="rating">★★★★★</div>
                            <div class="text-wrap">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                            <br>
                            <div>
                                <span>11 Likes</span>
                                <span>Responder</span>
                            </div>
                        </div>
                    </div>
    
                    <div class="separator" style="width: 700px; margin: 20px 0;"></div>
    
                    <div class="comment">
                        <img src="static/img/images/draco.jpg" alt="Comentador" width="50" height="50">
                        <div class="comment-content">
                            <div class="name">Nome Sobrenome</div>
                            <div class="categoria">Baba - Um ano atrás</div>
                            <div class="rating">★★☆☆☆</div>
                            <div class="text-wrap">Lorem ipsum dolor sit amet. Est doloribus architecto cum recusandae voluptatem et necessitatibus nihil est commodi explicabo est veritatis aspernatur a culpa praesentium qui harum magnam. Id saepe quod et deserunt nihil et dolorem beatae qui voluptatem nihil est ipsam officia.</div>
                            <br>
                            <div>
                                <span>9 Likes</span>
                                <span>Responder</span>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
            <div class="ad-section">
                <img src="static/img/images/propaganda.PNG" alt="Propaganda">
            
            </div>
        </div>
                
{% endblock %}