{% extends "pages/base.html" %}
{% block subtitulo %}Planos{% endblock %}
{% block conteudo %}
<div class="container d-flex justify-content-center">
    <div class="mx-5">
        <div class="row">
            <!-- Plano Gratuito -->
            <div class="col-6">
                <div class="">
                    <div class="bg-white py-4 rounded-5 my-4 border border-2 border-secondary-subtle">
                        <h4 class="text-center mb-4 fs-2">Plano Gratuito</h4>
                        <h2 class="text-center price">R$0,00</h2>
                        <p class="text-center text-muted">RECURSOS LIMITADOS</p>
                        <ul class="list-unstyled mx-4">
                            <li class="text-success">✔ Limite de 3 Fotos</li>
                            <li class="text-success">✔ Agenda de Serviços</li>
                            <li class="text-success">✔ Feedback</li>
                            <li class="text-success">✔ Sistema de Mensagens</li>
                            <li class="text-success">✔ Avaliações e Comentários</li>
                            <li class="text-danger">✖ Suporte</li>
                            <li class="text-danger">✖ Fotos Ilimitadas</li>
                            <li class="text-danger">✖ Maior Visibilidade</li>
                            <li class="text-danger">✖ Análises e Relatórios</li>
                            <li class="text-danger">✖ Visualização de Ofertas Locais</li>
                        </ul>
                        <div class="text-center">
                            <a href="/perfil_prestador_vp" style="text-decoration: none;">
                                <button style="background-color: #E6E6E6; color: black; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
                                    QUERO ESTE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Plano Pago -->
            <div class="col-6">
                <div class="">
                    <div class="bg-white py-4 rounded-5 my-4 border border-2 border-secondary-subtle">
                        <h4 class="text-center m-4 fs-2">Plano Pago + 1 mês grátis</h4>
                        <div class="recomendado-badge text-center my-3">
                            RECOMENDADO
                        </div>
                        <h2 class="text-center price">R$29,99</h2>
                        <p class="text-center text-muted">por mês</p>
                        <ul class="list-unstyled mx-4">
                            <li class="text-success">✔ Maior Visibilidade</li>
                            <li class="text-success">✔ Fotos Ilimitadas</li>
                            <li class="text-success">✔ Destaque em Outros Perfis</li>
                            <li class="text-success">✔ Agenda de Serviços</li>
                            <li class="text-success">✔ Feedback</li>
                            <li class="text-success">✔ Análises e Relatórios</li>
                            <li class="text-success">✔ Perfil Verificado</li>
                            <li class="text-success">✔ Suporte</li>
                            <li class="text-success">✔ Visualização de Ofertas Locais</li>
                            <li class="text-success">✔ Prioridade nas Solicitações</li>
                        </ul>
                        <div class="text-center">
                            <a href="/dados_cartao" style="text-decoration: none;">
                                <button style="background-color: #FB8F67; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">
                                    QUERO ESTE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}