{% extends "pages/base.html" %}
{% block subtitulo %}Suporte{% endblock %}
{% block conteudo %}

<div class="payment-container-fluid m-5">
    
    <div class="row justify-content-center">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <form class="form-contato p-4 rounded shadow">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome completo</label>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email">
                        </div>
                        <div class="mb-3">
                            <label for="telefone" class="form-label">Telefone</label>
                            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite seu telefone">
                        </div>
                        <div class="mb-3">
                            <label for="descricao" class="form-label">Descrição</label>
                            <textarea class="form-control" id="descricao" name="descricao" rows="4" placeholder="Descreva o problema"></textarea>
                        </div>
                        <button type="submit" class="btn btn-submit w-100">Enviar</button>
                    </form>
                </div>

              
                <div class="col-md-6 text-center">
                    <h2 class="titulo">Está com problemas?</h2>
                    <p class="subtitulo">Nós te ajudamos!</p>
                    <img src="static/img/images/img_suporte.png" alt="Ajuda" class="img-fluid mt-4">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
