{% extends "pages/base.html" %}
{% from "macros.html" import input_email, input_text, input_textarea %}
{% block subtitulo %}Suporte{% endblock %}
{% block conteudo %}

<div class="payment-container-fluid m-5">
    
    <div class="row justify-content-center">
            <div class="row align-items-center">

                <div class="col-md-6">
                    <form class="form-contato p-4 rounded shadow">
                        {{ input_text("nome", "Nome Completo", "required" )}}
                        {{ input_email("email", "E-mail", "required")}}
                        {{ input_text("telefone", "Telefone", "required  data-mask='telefone'")}}
                        {{ input_textarea("descricao", "Descrição", "required") }}
                        <button type="submit" class="btn btn-submit w-100">Enviar</button>
                    </form>
                </div>

              
                <div class="col-md-6 text-center">
                    <h2 class="titulo">Está com problemas?</h2>
                    <p class="subtitulo">Nós te ajudamos!</p>
                    <img src="static/img/images/img_suporte.png" alt="Ajuda" class="img-fluid mt-4">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
