{% macro input_text(name, label, attributes='', value='', div_classes='', placeholder='') %}
<div class="{{div_classes}}">
    <label for="{{name}}">{{label}}</label>
    <input type="text" id="{{name}}" name="{{name}}" class="form-control"  {{attributes|safe}} value="{{value|e}}" >
</div>
{% endmacro %}

{% macro input_email(name, label, attributes='', value='', div_classes='') %}
<div class="form-group m-2">
    <label for="{{name}}">{{label}}</label>
    <input type="email" id="{{name}}" name="{{name}}" class="form-control"  {{attributes|safe}} value="{{value|e}}" >
</div>
{% endmacro %}

{% macro input_password(name, label, attributes='') %}
<div class="form-group m-2">
    <label for="{{name}}">{{label}}</label>
    <input type="password" id="{{name}}" name="{{name}}" class="form-control"  {{attributes|safe}} >
</div>
{% endmacro %}

<!-- {% macro input_textarea(name, label, attributes='', value='', div_classes='') %}
<div class="form-group m-2">
    <label for="{{name}}">{{label}}</label>
    <textarea> type="text" id="{{name}}" name="{{name}}" class="form-control"  {{attributes|safe}} value="{{value|e}}" </textarea>
</div>
{% endmacro %}  -->

{% macro input_textarea(name, label, attributes='', value='', div_classes='') %}
<div class="form-group m-2">
    <label for="{{name}}">{{label}}</label>
    <textarea type= "text" name="{{name}}" id="{{name}}" class="form-control" placeholder=" " {{attributes|safe}}>{{value|e}}</textarea>  
</div>
{% endmacro %}

{% macro input_radios(name, label, options, attributes='', value='', div_classes='') %}
<div class="{{div_classes}}">
    <fieldset class="border rounded-2" style="padding: .75rem">
        <legend class="text-secondary" style="font-size:13px">{{label}}</legend>
        <div class="row gx-3">
            {% for option in options %}
            {%- set checked = "checked" if option.value == value -%}
            <div class="col">
                <input type="radio" class="btn-check" name="{{name}}" id="{{name}}{{loop.index}}" value="{{option.value}}" autocomplete="off" {{checked}}>
                <label class="btn btn-outline-secondary w-100" for="{{name}}{{loop.index}}">{{option.label|safe}}</label>
            </div>
            {% endfor %}
        </div>
    </fieldset>
</div>
{% endmacro %}



<!-- {% macro input_select(name, label, options, attributes='', value='', div_classes='') %}
<div class="form-group m-2">
    <select name="{{name}}" id="{{name}}" class="form-control" placeholder=" " {{attributes|safe}} value="{{value|e}}">
        <option value="" {{"selected" if not value}}>Escolha uma opção...</option>
        {% for option in options %}
        {%- set selected = "selected" if option.value == value -%}
        <option value="{{option.value}}" {{selected}}>{{option.label}}</option>
        {% endfor %}
    </select>
    <label for="{{name}}">{{label}}</label>
</div>

{% endmacro %}
 -->


{% macro input_select(name, label, options, attributes='', value='', div_classes='form-group m-2') %}
<div class="{{div_classes}}">
    <label for="{{name}}">{{label}}</label>
    <select name="{{name}}" id="{{name}}" class="form-control" {{attributes|safe}}>
        <option value="" {{"selected" if not value}}>Escolha uma opção...</option>
        {% for option in options %}
        <option value="{{option.value}}" {{"selected" if option.value == value}}>{{option.label}}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}

<!-- {% macro input_radios(name, label, options, attributes='', value='', div_classes='') %}
<div class="form-group {{div_classes}}">
    <label for="{{name}}">{{label}}</label>
    <div id="{{name}}">
        {% for option_value, option_label in options.items() %}
            <div class="form-check">
                <input class="form-check-input" type="radio" id="{{name}}_{{option_value}}" name="{{name}}" value="{{option_value}}" {% if option_value == value %} checked{% endif %} {{attributes|safe}}>
                <label class="form-check-label" for="{{name}}_{{option_value}}">
                    {{option_label}}
                </label>
            </div>
        {% endfor %}
    </div>
</div>
{% endmacro %} -->

